[Desktop Entry]
Path=/opt/metadata-editor/
Type=Application
Icon=/opt/metadata-editor/data/icon.png
Name=MetadataEditor
Comment=Edit yout metadata in a very simple way
Exec=/usr/bin/java -jar app.jar
Terminal=false
StartupWMClass=metadata-editor